/*CSS DOCUMENT*/
h1{
    color: rgb(40, 70, 241);
    
}
h2{
    color: rgb(67, 152, 231);
}
.items {
    background-color: rgb(191, 223, 252);
}
h3{
    background-color:rgb(191, 223, 252);
}
h5{
    font-style: italic;
}

h4{
    text-transform: capitalize;
    color:rgb(94, 92, 92)
}
h6{
    font-style: italic;
    color: rgb(206, 206, 206)
}
