/*CSS document*/

body {
    color: rgb(231, 231, 231);
    font-family: sans-serif;
    font-weight: 100;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
    background-color: rgb(48, 27, 52);
    padding: 0em 2em 2em 2em;
}

footer{
    margin: 0em 0em 1em 0em;
    padding: 1em 2em .05em .25em;
    background-color: rgb(166, 148, 183);
    max-width: 82em;
    text-align: right;
    font-family: filicudi-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;

}

li{
    color: rgb(231, 231, 231);
    display: inline;
    margin-right: 2em;
    font-size: small;
}

p{
    margin: 0em 0em 0em 0em;
    color: rgb(231, 231, 231);
    text-decoration: none;
}

article{
    margin-bottom: 5em;
}

figure {
   margin: 0em 0em 1em 0em;
 
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}

.mainstory{
    grid-column: 1/4;
    max-height: min-content;
    flex-basis: 40em;
    max-width: 50em;
}

aside{
    margin: 1em 0em 1em 0em;
    padding: 1em 1em 1em 1em;
    grid-column: 2/4;
}

a{
    text-decoration: none;
}

h1{
    width: 5em;
}

figcaption{
    margin: 0em 0em 2em 0em;
    color:rgb(166, 148, 183);
    text-align: center;
    font-size: small;
}

img {
    width: 100%;
}

nav ul{
    list-style-type: none;
    margin-right: 1em;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
}

nav ul li a {
    color: rgb(231, 231, 231);
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

nav ul li a:hover{
    color: rgb(166, 148, 183);
}

ul {
    list-style-type: none;
    padding: 0;
}

h2 {
    font-family: badtyp,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: badtyp,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(231, 231, 231);
    text-decoration: none;
    text-align: center;
    padding-bottom: 1em;
   
    
}

h4{
    font-family: badtyp,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(231, 231, 231);
    text-decoration: none;
}

.secondtier{
    background-color: rgb(87, 64, 92);
    padding: 2em 2em 1em 2em;
    max-width: 25em;
}

.teaserimage{
    max-width: 25em;
    min-width: 12em;

}

.thirdtier{
    background-color: rgb(87, 64, 92);
    padding: 1em 1em 1em 1em;
    max-width: 27em;
}

@media screen and (min-width: 60em){

    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 5em;
        row-gap: 1em;
    }

    header{
        grid-column: 1/3;
    }

    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1em;
    }

    aside{
        grid-column: 2/3;
        margin: 0em 0em 1em 0em;
        padding: 1em 1em 1em 1em;
    }
}